.container {
    width: 1920px; /*반응*/
    height: 2072px; /*반응*/
}
.main_text {
    padding-top: 1433px; /*반응*/
    color: #000;
    text-align: center;
    font-size: 72px; /*반응*/
    font-family: 'pretendard-extrabold';
    font-style: normal;
    font-weight: 800;
}

@media (max-width: 1920px) {
    .container {
        width: 100%;
        height: calc(1.079166 * 100vw); /*반응*/
        
    }
    .main_text {
        padding-top: calc(0.798430556 * 100vw - 99.9866px);
        font-size: calc(0.0375 * 100vw);
    }
}