.container {
    width: 1920px; /*반응*/
    height: 100%
}
.qna_bar {
    width: 33px; /*반응*/
    height: 10px; /*반응*/
    margin-top: 217px; /*반응*/
    margin-left: 362px; /*반응*/
    background-color: #FDBE01;
}
.qna_text {
    color: #FDBE01;
    font-size: 72px; /*반응*/
    font-family: 'pretendard-extrabold';
    font-style: normal;
    font-weight: 800;
    margin-left: 362px; /*반응*/
}
.qna_text_small {
    font-size: 42px; /*반응*/
}
.qna_box {
    margin-top: 50px; /*반응*/
    margin-bottom: 315px; /*반응*/
}
.qna_img_text {
    display: none;
}
/* 1920px 이상 */
.qna_small_box {
    width: 1200px; /*반응*/
    margin: 0 auto;
    background: #FFFFFF;
    border: 3px solid #FDBE01; /*반응*/
    border-radius: 14px; /*반응*/
    margin-bottom: 20px;
}
.qna_title_box {
    width: 100%;
    height: 78px; /*반응*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px 0px 20px; /*반응*/
}
.qna_box_left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.qna_index {
    width: 42.5px; /*반응*/
    height: auto;
    margin-right: 31px; /*반응*/
    padding-top: 5px;
}
.qna_title {
    font-family: 'Pretendard-bold';
    font-style: normal;
    font-weight: 700;
    font-size: 33px; /*반응*/
    color: #424242;
}
.qna_img_title {
    display: none;
}
.chevron {
    width: 23px; /*반응*/
    height: auto;
    padding-bottom: 3px;
}
.qna_content_box {
    margin: 0px 12px; /*반응*/
    padding-top: 15px; /*반응*/
    border-top: 3px solid #FDBE01; /*반응*/
    font-family: 'Pretendard-medium';
    font-style: normal;
    font-weight: 500;
    font-size: 24px; /*반응*/
    color: #424242;
    word-break: break-all;
}
.qna_content {
    display: none;
}
@media (max-width: 1920px) {
    .container {
        width: 100%;
        height: 100%;
    }
    .qna_bar {
        width: calc(0.0171875 * 100vw);
        height: calc(0.00520833 * 100vw);
        margin-top: calc(0.11301389 * 100vw + 0.0133px);
        margin-left: calc(0.188541667 * 100vw);

    }
    .qna_text {
        font-size: calc(0.0375 * 100vw);
        margin-left: calc(0.188541667 * 100vw);
    }
    .qna_text_small {
        font-size: calc(0.021875 * 100vw);
    }
    .qna_box {
        margin-top: calc(0.0263889 * 100vw - 0.666px);
        margin-bottom: calc(0.164056 * 100vw + 0.0133px);
    }
    .qna_small_box {
        width: calc(0.625 * 100vw);
        border: calc(0.0015625 * 100vw) solid #FDBE01;
        border-radius: calc(0.00729167 * 100vw);
        margin-bottom: calc(0.0104167 * 100vw);
    }
    .qna_title_box {
        height: calc(0.040625 * 100vw);
        padding: 0px calc(0.015625 * 100vw) 0px calc(0.010625 * 100vw - 0.4px); /*반응*/
    }
    .qna_index {
        width: calc(0.022 * 100vw - 0.1667px);
        margin-right: calc(0.00851389 * 100vw + 14.6533px);
    }
    .qna_title {
        font-size: calc(0.0171875 * 100vw);
    }
    .chevron {
        width: calc(0.011979167 * 100vw);
    }
    .qna_content_box {
        margin: 0px calc(0.00625 * 100vw); /*반응*/
        padding-top: calc(0.0078056 * 100vw + 0.0133px);
        border-top: calc(0.0015625 * 100vw) solid #FDBE01;
        font-size: calc(0.0125 * 100vw);
    }
}
@media (max-width: 1200px) {
    .container {
        width: 768px;
        height: 100%;
    }
    .qna_bar {
        width: 16px;
        height: 4px;
        margin-top: 58px;
        margin-left: 90px;

    }
    .qna_text {
        font-size: 33px;
        margin-left: 90px;
    }
    .qna_text_small {
        font-size: 24px;
    }
    .qna_box {
        margin-top: 25.85px;
        margin-bottom: 106.09px;
    }
    .qna_small_box {
        width: 588px;
        border: 1px solid #FDBE01;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    .qna_title_box {
        height: 38px;
        padding: 0px 14.7px 0px 9.68px; /*반응*/
    }
    .qna_index {
        width: 20.7px;
        margin-right: 19.5px;
    }
    .qna_title {
        font-size: 15px;
    }
    .chevron {
        width: 11.2px;
    }
    .qna_content_box {
        margin: 0px 11px; /*반응*/
        padding-top: 6px;
        border-top: 1px solid #FDBE01;
        font-size: 12px;
    }
}
@media (max-width: 768px) {
    .container {
        width: 100%;
        height: 100%;
    }
    .qna_bar {
        width: calc(0.02078 * 100vw + 0.04267px);
        height: calc(0.00522 * 100vw - 0.01067px);
        margin-top: calc(0.07522 * 100vw + 0.2293px);
        margin-left: calc(0.11667 * 100vw + 0.4px);

    }
    .qna_text {
        font-size: calc(0.0427833 * 100vw + 0.1424px);
        margin-left: calc(0.11667 * 100vw + 0.4px);
    }
    .qna_text_small {
        font-size: calc(0.0311 * 100vw + 0.1067px);
    }
    .qna_box {
        margin-top: calc(0.030944 * 100vw + 2.8467px);
        margin-bottom: calc(0.13756 * 100vw + 0.44733px);
    }
    .qna_small_box {
        width: calc(0.765622 * 100vw + 0.002133px);
        border: calc(0.001278 * 100vw + 0.01867px) solid #FDBE01;
        border-radius: calc(0.0067 * 100vw - 0.12px);
        margin-bottom: calc(0.026055 * 100vw - 0.01067px);
    }
    .qna_title_box {
        height: calc(0.049278 * 100vw + 0.15467px);
        padding: 0px calc(0.0189 * 100vw + 0.1933px) 0px calc(0.01256 * 100vw + 0.0373px); /*반응*/
    }
    .qna_index {
        width: calc(0.0267 * 100vw + 0.22px);
        margin-right: calc(0.025167 * 100vw + 0.172px);
    }
    .qna_title {
        font-size: calc(0.01945 * 100vw + 0.0624px);
    }
    .chevron {
        width: calc(0.014278 * 100vw + 0.23467px);
    }
    .qna_content_box {
        margin: 0px calc(0.01433 * 100vw - 0.0079px); /*반응*/
        padding-top: calc(0.00783 * 100vw - 0.016px);
        border-top: calc(0.001278 * 100vw + 0.01867px) solid #FDBE01;
        font-size: calc(0.01567 * 100vw - 0.032px);
    }
}
@media (max-width: 588px) {
    .container {
        width: 360px;
        height: 100%;
    }
    .qna_bar {
        display: none;
    }
    .qna_text {
        display: none;
    }
    .qna_box {
        margin-top: 10px;
        margin-bottom: 54px;
    }
    .qna_img_text {
        display: block;
        width: 25px;
        height: auto;
        padding-top: 33px;
        margin-left: 60px;
    }
    .qna_small_box {
        width: 240px;
        border: 0.5px solid #FDBE01;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    .qna_title_box {
        height: 16px;
        padding: 0px 6px 0px 4px; /*반응*/
    }
    .qna_index {
        width: 10px;
        margin-right: 6px;
    }
    .qna_title {
        display: none;
    }
    .qna_img_title1 {
        display: block;
        width: 176px;
        height: auto;
    }
    .qna_img_title2 {
        display: block;
        width: 162px;
        height: auto;
    }
    .qna_img_title3 {
        display: block;
        width: 152px;
        height: auto;
    }
    .qna_img_title4 {
        display: block;
        width: 198px;
        height: auto;
    }
    .chevron {
        width: 5px;
        padding-bottom: 5px;
    }
    .qna_content_box {
        display: none;
    }
    .qna_content_padding {
        margin: 0px 6px 11px 10px; /*반응*/
        padding-top: 1px;
        border-top: 0.5px solid #FDBE01;
        display: block;
        width: 224px;
        height: auto;
    }
    .qna_content {
        margin: 0px 6px 0px 10px; /*반응*/
        padding-top: 1px;
        border-top: 0.5px solid #FDBE01;
        display: block;
        width: 224px;
        height: auto;
    }   
}
@media (max-width: 360px) {
    .container {
        width: 100%;
        height: 100%
    }
    .qna_box {
        margin-top: calc(0.023625 * 100vw + 1.4949px);
        margin-bottom: calc(0.15 * 100);
    }
    .qna_img_text {
        width: calc(0.075 * 100vw - 2px);
        padding-top: calc(0.09175 * 100vw - 0.03px);
        margin-left: calc(0.1666249 * 100vw + 0.015px);
    }

    .qna_small_box {
        width: calc(0.666625 * 100vw + 0.01499px);
        border: calc(0.001375 * 100vw + 0.005px) solid #FDBE01;
        border-radius: calc(0.01387499 * 100vw + 0.005px);
        margin-bottom: calc(0.0277499 * 100vw + 0.01px);
    }
    .qna_title_box {
        height: calc(0.0445 * 100vw - 0.02px);
        padding: 0px calc(0.016625 * 100vw + 0.01499px) 0px calc(0.011125 * 100vw - 0.005px); /*반응*/
    }
    .qna_index {
        width: calc(0.0277499 * 100vw + 0.01px);
        margin-right: calc(0.016625 * 100vw + 0.01499px);
    }
    .qna_img_title1 {
        width: calc(0.4875 * 100vw + 0.5px);
    }
    .qna_img_title2 {
        width: calc(0.45 * 100vw);
    }
    .qna_img_title3 {
        width: calc(0.4125 * 100vw + 3.5px);
    }
    .qna_img_title4 {
        width: calc(0.55 * 100vw - 2.8421709px);
    }
    .chevron {
        width: calc(0.01387499 * 100vw + 0.005px);
    }
    .qna_content_box {
        display: none;
    }
    .qna_content_padding {
        margin: 0px calc(0.016625 * 100vw + 0.01499px) calc(0.016625 * 100vw + 5.015px) calc(0.0277499 * 100vw + 0.01px); /*반응*/
        width: calc(0.62225 * 100vw - 0.0099px);
    }
    .qna_content {
        margin: 0px calc(0.016625 * 100vw + 0.01499px) 0px calc(0.0277499 * 100vw + 0.01px); /*반응*/
        width: calc(0.62225 * 100vw - 0.0099px);
    }
    
}