.container {
    width: 1920px; /*반응*/
    height: 1259px; /*반응*/
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    opacity: 0;
    transform: translateY(70px);
}
.main_text {
    color: #424242;
    font-size: 42px; /*반응*/
    font-family: 'pretendard-extrabold';
    font-style: normal;
    font-weight: 800;
    margin-top: 412px; /*반응*/
    margin-bottom: 57px; /*반응*/
}
.open_question {
    color: #424242;
    font-size: 42px; /*반응*/
    font-family: 'pretendard-extrabold';
    font-style: normal;
    font-weight: 800;
    margin-top: 654px; /*반응*/
    margin-right: 15px; /*반응*/
}
.close_question {
    color: #424242;
    font-size: 42px; /*반응*/
    font-family: 'pretendard-extrabold';
    font-style: normal;
    font-weight: 800;
    margin-top: 835px; /*반응*/
    margin-right: 353px; /*반응*/
    margin-left: 15px; /*반응*/
}
.first_question {
    width: 451px; /*반응*/
    height: 49px; /*반응*/
    background: rgba(255, 204, 0, 0.30);
    color: #424242;
    text-align: center;
    font-size: 33px; /*반응*/
    font-family: 'pretendard-medium';
    font-style: normal;
    font-weight: 500;
}
.second_question {
    width: 524px; /*반응*/
    height: 49px; /*반응*/
    background: rgba(255, 204, 0, 0.30);
    margin-top: 17px;/*반응*/
    margin-left: 111px; /*반응*/
    color: #424242;
    text-align: center;
    font-size: 33px; /*반응*/
    font-family: 'pretendard-medium';
    font-style: normal;
    font-weight: 500;
}
.third_question {
    width: 425px; /*반응*/
    height: 49px; /*반응*/
    background: rgba(255, 204, 0, 0.30);
    margin-top: 17px;/*반응*/
    margin-left: 332px; /*반응*/
    color: #424242;
    text-align: center;
    font-size: 33px; /*반응*/
    font-family: 'pretendard-medium';
    font-style: normal;
    font-weight: 500;
}
.yellow_mobile {
    display: none;
}
@media (max-width: 1920px) {
    .container {
        width: 100%;
        height: calc(0.655729167 * 100vw); /*반응*/
    }
    .main_text {
        font-size: calc(0.021875 * 100vw); /*반응*/
        margin-top: calc(0.2145833 * 100vw);
        margin-bottom: calc(0.02863889 * 100vw + 2.0133px); /*반응*/
    }
    .open_question {
        font-size: calc(0.021875 * 100vw); /*반응*/
        margin-top: calc(0.340625 * 100vw);
        margin-right: calc(0.0081527778 * 100vw - 0.6533px); 
    }
    .close_question {
        font-size: calc(0.021875 * 100vw); /*반응*/
        margin-top: calc(0.43456 * 100vw + 0.65333px);
        margin-right: calc(0.1875 * 100vw);
        margin-left: calc(0.0081527778 * 100vw - 0.6533px); 
    }
    .first_question {
        width: calc(0.234895833 * 100vw);
        height: calc(0.025520833 * 100vw);
        font-size: calc(0.0171875 * 100vw - 1px);
    } 
    .second_question {
        width: calc(0.2729166667 * 100vw);
        height: calc(0.025520833 * 100vw);
        margin-top: calc(0.00886111 * 100vw - 0.0133px);
        margin-left: calc(0.0581667 * 100vw - 0.6799px);
        font-size: calc(0.0171875 * 100vw - 1px);
    }
    .third_question {
        width: calc(0.2213541667 * 100vw);
        height: calc(0.025520833 * 100vw);
        margin-top: calc(0.00886111 * 100vw - 0.0133px);
        margin-left: calc(0.1732638889 * 100vw - 0.6667px);
        font-size: calc(0.0171875 * 100vw - 1px);
    }
}
@media (max-width: 1200px) {
    .container {
        width: 768px;
        height: 432px; /*반응*/
        margin-top: 100px; /*반응*/
    }
    .main_text {
        font-size: 21px; /*반응*/
        margin-top: 75px; /*반응*/
        margin-bottom: 27px; /*반응*/
    }
    .open_question {
        font-size: 18px; /*반응*/
        margin-top: 196px;
        margin-right: 0px; 
    }
    .close_question {
        font-size: 18px; /*반응*/
        margin-top: 287px;
        margin-right: 113px;
        margin-left: 0px;
    }
    .first_question {
        width: 210px;
        height: 21px;
        font-size: 15px;
    } 
    .second_question {
        width: 243px;
        height: 22px;
        margin-top: 10px;
        margin-left: 47px;
        font-size: 15px;
    }
    .third_question {
        width: 197px;
        height: 23px;
        margin-top: 10px;
        margin-left: 156px;
        font-size: 15px;
    }
}
@media (max-width: 768px) {
    .container {
        width: 100%;
        height: calc(0.5625 * 100vw); /*반응*/
        margin-top: calc(0.14322 * 100vw - 9.99467px);
    }
    .main_text {
        font-size: calc(0.027344 * 100vw - 0.000533px); /*반응*/
        margin-top: calc(0.097667 * 100vw - 0.00799px);
        margin-bottom: calc(0.02967 * 100vw + 4.216px); /*반응*/
    }
    .open_question {
        font-size: calc(0.0234389 * 100vw - 0.001067px); /*반응*/
        margin-top: calc(0.25522 * 100vw - 0.01067px);
    }
    .close_question {
        font-size: calc(0.0234389 * 100vw - 0.001067px); /*반응*/
        margin-top: calc(0.36572 * 100vw + 6.12533px);
        margin-right: calc(0.14711 * 100vw + 0.01867px);
    }
    .first_question {
        width: calc(0.27344 * 100vw - 0.00533px);
        height: calc(0.027389 * 100vw - 0.03467px);
        font-size: calc(0.019533 * 100vw - 0.0016px);
    } 
    .second_question {
        width: calc(0.31644 * 100vw - 0.02933px);
        height: calc(0.02867 * 100vw - 0.016px);
        margin-top: calc(0.013 * 100vw - 0.016px);
        margin-left: calc(0.0575 * 100vw + 2.797px);
        font-size: calc(0.019533 * 100vw - 0.0016px);
    }
    .third_question {
        width: calc(0.25656 * 100vw - 0.03467px);
        height: calc(0.02994 * 100vw - 0.0016px);
        margin-top: calc(0.013 * 100vw - 0.016px);
        margin-left: calc(0.19949 * 100vw + 2.784px);
        font-size: calc(0.019533 * 100vw - 0.0016px);
    }
}
@media (max-width: 588px) {
    .container {
        width: 360px;
        height: 202px; /*반응*/
        margin-top: 60px; /*반응*/
        display: block;
    }
    .yellow_mobile {
        display: block;
        width: 158px;
        height: auto;
        padding-top: 36px;
        margin-left: 146px;
    }
    .main_text {
        display: none;
    }
    .open_question {
        display: none;
    }
    .close_question {
        display: none;
    }
    .first_question {
        display: none;
    } 
    .second_question {
        display: none;
    }
    .third_question {
        display: none;
    }
}
@media (max-width: 360px) {
    .container {
        width: 100%;
        height: calc(0.56112499 * 100vw - 0.00499px);
        margin-top: calc(0.16662499 * 100vw + 0.015px);
        display: block;
    }
    .yellow_mobile {
        display: block;
        width: calc(0.438875 * 100vw + 0.0049px);
        height: auto;
        padding-top: calc(0.1 * 100vw);
        margin-left: calc(0.405499 * 100vw + 0.02px);
    }
}