.container {
    width: 1920px; /*반응*/
    height: 1259px; /*반응*/
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    opacity: 0;
    transform: translateY(70px);
}
.main_text {
    font-size: 42px; /*반응*/
    font-family: 'Pretendard-extrabold';
    font-style: normal;
    font-weight: 800;
    margin-top: 411px; /*반응 20 빼야함*/
    margin-bottom: 52px; /*반응*/
}
.open_question {
    font-size: 42px; /*반응*/
    font-family: 'Pretendard-extrabold';
    font-style: normal;
    font-weight: 800;
    margin-top: 653px; /*반응*/
    margin-right: 15px; /*반응*/
}
.close_question {
    font-size: 42px; /*반응*/
    font-family: 'Pretendard-extrabold';
    font-style: normal;
    font-weight: 800;
    margin-top: 864px; /*반응*/
    margin-right: 353px; /*반응*/
    margin-left: 15px; /*반응*/
}
.first_question {
    width: 451px; /*반응*/
    height: 58px; /*반응*/
    background: rgba(255, 204, 0, 0.30);
    text-align: center;
    font-size: 33px; /*반응*/
    font-family: 'Pretendard-medium';
    font-style: normal;
    font-weight: 500;
}
.second_question {
    width: 524px; /*반응*/
    height: 58px; /*반응*/
    background: rgba(255, 204, 0, 0.30);
    margin-top: 17px;/*반응*/
    margin-left: 111px; /*반응*/
    text-align: center;
    font-size: 33px; /*반응*/
    font-family: 'Pretendard-medium';
    font-style: normal;
    font-weight: 500;
}
.third_question {
    width: 425px; /*반응*/
    height: 58px; /*반응*/
    background: rgba(255, 204, 0, 0.30);
    margin-top: 17px;/*반응*/
    margin-left: 332px; /*반응*/
    text-align: center;
    font-size: 33px; /*반응*/
    font-family: 'Pretendard-medium';
    font-style: normal;
    font-weight: 500;
}
@media (max-width: 1920px) {
    .container {
        width: 100%;
        height: calc(0.65572619 * 100vw + 0.00571428px); /*반응*/
    }
    .main_text {
        font-size: calc(0.021869 * 100vw + 0.011428px); /*반응*/
        margin-top: calc(0.22447619 * 100vw - 19.99428px);
        margin-bottom: calc(0.0215 * 100vw + 10.719px); /*반응*/
    }
    .open_question {
        font-size: calc(0.021869 * 100vw + 0.011428px); /*반응*/
        margin-top: calc(0.3505238 * 100vw - 20.0057px);
        margin-right: calc(0.007369 * 100vw + 0.8514px); 
    }
    .close_question {
        font-size: calc(0.021869 * 100vw + 0.011428px); /*반응*/
        margin-top: calc(0.420238 * 100vw + 52.1428px);
        margin-right: calc(0.18385714 * 100vw - 0.005714px);
        margin-left: calc(0.007369 * 100vw + 0.8514px); 
    }
    .first_question {
        width: calc(0.23489 * 100vw + 0.005714px);
        height: calc(0.036238 * 100vw - 11.57714px);
        font-size: calc(0.01719 * 100vw - 0.005714px);
    } 
    .second_question {
        width: calc(0.2729166 * 100vw);
        height: calc(0.036238 * 100vw - 11.57714px);
        margin-top: calc(0.008857 * 100vw - 0.005714px);
        margin-left: calc(0.057369 * 100vw + 0.851428px);
        font-size: calc(0.01719 * 100vw - 0.005714px);
    }
    .third_question {
        width: calc(0.2213541667 * 100vw);
        height: calc(0.036238 * 100vw - 11.57714px);
        margin-top: calc(0.008857 * 100vw - 0.005714px);
        margin-left: calc(0.172464 * 100vw + 0.8685px);
        font-size: calc(0.01719 * 100vw - 0.005714px);
    }
}
@media (max-width: 1080px) {
    .container {
        width: 768px;
        height: 432px; /*반응*/
        margin-top: 100px; /*반응*/
    }
    .main_text {
        font-size: 21px; /*반응*/
        margin-top: 75px; /*반응*/
        margin-bottom: 27px; /*반응*/
    }
    .open_question {
        font-size: 18px; /*반응*/
        margin-top: 196px;
        margin-right: 0px; 
    }
    .close_question {
        font-size: 18px; /*반응*/
        margin-top: 287px;
        margin-right: 113px;
        margin-left: 0px;
    }
    .first_question {
        width: 210px;
        height: 21px;
        font-size: 15px;
    } 
    .second_question {
        width: 243px;
        height: 22px;
        margin-top: 10px;
        margin-left: 47px;
        font-size: 15px;
    }
    .third_question {
        width: 197px;
        height: 23px;
        margin-top: 10px;
        margin-left: 156px;
        font-size: 15px;
    }
}
@media (max-width: 768px) {
    .container {
        width: 100%;
        height: calc(0.5625 * 100vw); /*반응*/
        margin-top: calc(0.14322 * 100vw - 9.99467px);
    }
    .main_text {
        font-size: calc(0.027344 * 100vw - 0.000533px); /*반응*/
        margin-top: calc(0.097667 * 100vw - 0.00799px);
        margin-bottom: calc(0.02967 * 100vw + 4.216px); /*반응*/
    }
    .open_question {
        font-size: calc(0.0234389 * 100vw - 0.001067px); /*반응*/
        margin-top: calc(0.25522 * 100vw - 0.01067px);
    }
    .close_question {
        font-size: calc(0.0234389 * 100vw - 0.001067px); /*반응*/
        margin-top: calc(0.36572 * 100vw + 6.12533px);
        margin-right: calc(0.14711 * 100vw + 0.01867px);
    }
    .first_question {
        width: calc(0.27344 * 100vw - 0.00533px);
        height: calc(0.027389 * 100vw - 0.03467px);
        font-size: calc(0.019533 * 100vw - 0.0016px);
    } 
    .second_question {
        width: calc(0.31644 * 100vw - 0.02933px);
        height: calc(0.02867 * 100vw - 0.016px);
        margin-top: calc(0.013 * 100vw - 0.016px);
        margin-left: calc(0.0575 * 100vw + 2.797px);
        font-size: calc(0.019533 * 100vw - 0.0016px);
    }
    .third_question {
        width: calc(0.25656 * 100vw - 0.03467px);
        height: calc(0.02994 * 100vw - 0.0016px);
        margin-top: calc(0.013 * 100vw - 0.016px);
        margin-left: calc(0.19949 * 100vw + 2.784px);
        font-size: calc(0.019533 * 100vw - 0.0016px);
    }
}
@media (max-width: 588px) {
    .container {
        width: 360px;
        height: 202px; /*반응*/
        margin-top: 60px; /*반응*/
        display: block;
    }
    .yellow_mobile {
        display: block;
        width: 158px;
        height: auto;
        padding-top: 36px;
        margin-left: 146px;
    }
    .main_text {
        display: none;
    }
    .open_question {
        display: none;
    }
    .close_question {
        display: none;
    }
    .first_question {
        display: none;
    } 
    .second_question {
        display: none;
    }
    .third_question {
        display: none;
    }
}
@media (max-width: 360px) {
    .container {
        width: 100%;
        height: calc(0.56112499 * 100vw - 0.00499px);
        margin-top: calc(0.16662499 * 100vw + 0.015px);
        display: block;
    }
    .yellow_mobile {
        display: block;
        width: calc(0.438875 * 100vw + 0.0049px);
        height: auto;
        padding-top: calc(0.1 * 100vw);
        margin-left: calc(0.405499 * 100vw + 0.02px);
    }
}