.title_full_container {
    width: 1920px;
    height: 1000px; /*반응*/
}
.title_full_img {
    width: 1920px; /*반응*/
    height: auto;
}

@media (max-width: 1920px) {
    .title_full_container {
        width: 100%;
        height: calc(0.5208333333333334 * 100vw - 13px);
    }
    .title_full_img {
        width: 100%;
        height: auto;
    }
}