/* 웹 1920px 이상 */
.navbar {
    background-color: white;
    width: 1920px; /*반응*/
    height: 80px; /*반응*/
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 360px;  /*반응*/
}

.navbar_left {
    display: block;
}
.navbar_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar_logo {
    display: block;
    width: 131px; /*반응*/
    height: auto;
}
.navbar_intro {
    font-family: 'Pretendard-medium';
    font-weight: 500;
    font-style: normal;
    font-size: 21px; /*반응*/
    color: #757575;
}
.navbar_ongoing {
    font-family: 'Pretendard-medium';
    font-weight: 500;
    font-style: normal;
    font-size: 21px; /*반응*/
    color: #757575;
    margin-left: 100px; /*반응*/
}

.footer {
    background-color: #FFE991;
    width: 1920px; /*반응*/
    height: 337px; /*반응*/
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 362px;  /*반응*/
}
.footer_left_img {
    width: 328px; /*반응*/
    height: auto;
}
.footer_right {
    display: flex;
    justify-content: end;
    align-items: start;
}
.footer_right_contact {
    padding-right: 60px; /*반응*/
    padding-bottom: 101px; /*반응*/
}
.footer_right_contact_img {
    display: block;
    width: 108px; /*반응*/
    height: auto;
    margin-bottom: 13px; /*반응*/
}
.instagram {
    display: block;
    width: 115px; /*반응*/
    height: auto;
}
.facebook {
    display: block;
    width: 102px; /*반응*/
    height: auto;
}
.footer_right_bussiness_img {
    width: 111px; /*반응*/
    height: auto;
}

/* 웹 1920px 이하 */
@media (max-width: 1920px) {
    .navbar {
        width: 100%;
        height: calc(0.04167 * 100vw);
        padding: 0 calc(0.1875 * 100vw);
    }
    .navbar_logo {
        width: calc(0.07083 * 100vw - 5px);
    }
    .navbar_intro {
        font-size: calc(0.0104167 * 100vw + 1px);
    }
    .navbar_ongoing {
        font-size: calc(0.0104167 * 100vw + 1px);
        margin-left: calc(37.5/700 * 100vw - 1.8px); 
    }
    .footer {
        width: 100%;
        height: calc(0.176389 * 100vw - 1.67px);
        padding: 0 calc(0.190278 * 100vw - 3.33px);
    }
    .footer_left_img {
        width: calc(0.16944 * 100vw + 2.67px);
    }
    .footer_right_contact {
        padding-right: calc(0.03125 * 100vw);
        padding-bottom: calc(0.054861 * 100vw - 4.33px);
    }
    .footer_right_contact_img {
        width: calc(0.0556 * 100vw + 1.33px);
        margin-bottom: calc(0.006944 * 100vw - 0.33px);
    }
    .instagram {
        width: calc(0.059375 * 100vw + 1px);
    }
    .facebook {
        width: calc(0.05243056 * 100vw + 1.33px);
    }
    .footer_right_bussiness_img {
        width: calc(0.05694 * 100vw + 1.667px);
    }
}

/* 패드 모바일 버젼 */