/* 웹 1920px 이상 */
.navbar {
    background-color: white;
    width: 1920px; /*반응*/
    min-width: 280px;
    height: 80px; /*반응*/
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 360px;  /*반응*/
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    overflow: hidden;
}

.navbar_left {
    display: block;
}
.navbar_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar_logo {
    display: block;
    width: 131px; /*반응*/
    height: auto;
}
.navbar_intro {
    font-family: 'Pretendard-medium';
    font-weight: 500;
    font-style: normal;
    font-size: 21px; /*반응*/
    color: #757575;
}
.navbar_ongoing {
    font-family: 'Pretendard-medium';
    font-weight: 500;
    font-style: normal;
    font-size: 21px; /*반응*/
    color: #757575;
    margin-left: 110px; /*반응*/
}
.navbar_intro_active {
    font-family: 'Pretendard-medium';
    font-weight: 500;
    font-style: normal;
    font-size: 21px; /*반응*/
    color: #424242;
}
.navbar_ongoing_active {
    font-family: 'Pretendard-medium';
    font-weight: 500;
    font-style: normal;
    font-size: 21px; /*반응*/
    color: #424242;
    margin-left: 100px; /*반응*/
}
.footer_web {
    background-color: #FFE991;
    width: 1920px; /*반응*/
    height: 337px; /*반응*/
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 362px;  /*반응*/
    overflow: hidden;
}
.footer_tablet {
    display: none;
}
.footer_left_img {
    width: 328px; /*반응*/
    height: auto;
}
.footer_right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.footer_right_contact {
    padding-right: 60px; /*반응*/
    padding-top: 8px;
    padding-bottom: 102px; /*반응*/
}
.footer_right_contact_img {
    display: block;
    width: 108px; /*반응*/
    height: auto;
    margin-bottom: 26px; /*반응*/
}
.instagram {
    display: block;
    width: 115px; /*반응*/
    height: auto;
}
.facebook {
    display: block;
    width: 102px; /*반응*/
    height: auto;
}
.footer_right_bussiness_img {
    width: 111px; /*반응*/
    height: auto;
}
.navbar_mobile {
    display: none;
}

/* 웹 1920px 이하 */
@media (max-width: 1920px) {
    .navbar {
        width: 100%;
        height: calc(0.04166 * 100vw);
        padding: 0 calc(0.1875 * 100vw);
    }
    .navbar_logo {
        width: calc(0.07083 * 100vw - 5px);
    }
    .navbar_intro {
        font-size: calc(0.0104167 * 100vw + 1px);
    }
    .navbar_ongoing {
        font-size: calc(0.0104167 * 100vw + 1px);
        margin-left: calc(37.5/700 * 100vw - 1.8px); 
    }
    .navbar_intro_active {
        font-size: calc(0.0104167 * 100vw + 1px);
    }
    .navbar_ongoing_active {
        font-size: calc(0.0104167 * 100vw + 1px);
        margin-left: calc(37.5/700 * 100vw - 1.8px); 
    }
    .footer_web {
        width: 100%;
        height: calc(0.1755238 * 100vw - 0.0057px);
        padding: 0 calc(0.195238 * 100vw - 12.857px);
    }
    .footer_left_img {
        width: calc(0.16785714 * 100vw + 5.7142px);
    }
    .footer_right_contact {
        padding-right: calc(0.0317738 * 100vw - 1.0057);
        padding-top: calc(0.0047619 * 100vw - 1.1428px);
        padding-bottom: calc(0.052678571 * 100vw + 0.8571px);
    }
    .footer_right_contact_img {
        width: calc(0.05595238 * 100vw + 0.5714px);
        margin-bottom: calc(0.010119 * 100vw + 6.5714px);
    }
    .instagram {
        width: calc(0.05938 * 100vw + 0.988px);
    }
    .facebook {
        width: calc(0.052238 * 100vw + 1.703px);
    }
    .footer_right_bussiness_img {
        width: calc(0.05714285 * 100vw + 1.2857px);
    }
}

/* 패드 모바일 버젼 */
@media (max-width: 1080px) {
    .navbar {
        background-color: white;
        width: 768px; /*반응*/
        height: 40px; /*반응*/
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 90px;  /*반응*/
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 4;
    }
    
    .navbar_left {
        display: block;
    }
    .navbar_right {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar_logo {
        display: block;
        width: 64px; /*반응*/
        height: auto;
    }
    .navbar_intro {
        font-family: 'Pretendard-medium';
        font-weight: 500;
        font-style: normal;
        font-size: 12px; /*반응*/
        color: #757575;
    }
    .navbar_ongoing {
        font-family: 'Pretendard-medium';
        font-weight: 500;
        font-style: normal;
        font-size: 12px; /*반응*/
        color: #757575;
        margin-left: 40px; /*반응*/
    }
    .navbar_intro_active {
        font-size: 12px; /*반응*/
    }
    .navbar_ongoing_active {
        font-size: 12px; /*반응*/
        margin-left: 40px;
    }
    .footer_web {
        display: none;
    }
    .footer_tablet {
        display: block;
        background-color: #FFE991;
        width: 768px; /*반응*/
        height: 151px; /*반응*/
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 72px 0px 89px;  /*반응*/
        overflow: hidden;
    }
    .footer_left_img {
        width: 196px; /*반응*/
        height: auto;
    }
    .footer_right {
        padding-top: 15px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
    }
    .footer_right_contact {
        padding-right: 17px; /*반응*/
        padding-top: 6px;
        padding-bottom: 66.29px; /*반응*/
    }
    .footer_right_contact_img {
        display: block;
        width: 62px; /*반응*/
        height: auto;
        margin-bottom: 9px; /*반응*/
    }
    .instagram {
        display: block;
        width: 67px; /*반응*/
        height: auto;
    }
    .facebook {
        display: block;
        width: 58px; /*반응*/
        height: auto;
    }
    .footer_right_bussiness_img {
        width: 74px; /*반응*/
        height: auto;
    }
}

@media (max-width: 768px) {
    .navbar {
        width: 100%;
        height: calc(0.05211 * 100vw - 0.02133px);
        padding: 0 calc(0.1222 * 100vw - 3.867px);
    }
    .navbar_logo {
        width: calc(0.08333 * 100vw);
    }
    .navbar_intro {
        font-size: calc(0.0166 * 100vw - 0.8px);
    }
    .navbar_ongoing {
        font-size: calc(0.0166 * 100vw - 0.8px);
        margin-left: calc(0.051055 * 100vw + 0.78933px);
    }
    .navbar_intro_active {
        font-size: calc(0.0166 * 100vw - 0.8px);
    }
    .navbar_ongoing_active {
        font-size: calc(0.0166 * 100vw - 0.8px);
        margin-left: calc(0.051055 * 100vw + 0.78933px);
    }
    .footer_tablet {
        width: 100%; /*반응*/
        height: calc(0.19466 * 100vw + 1.4959px);
        padding: 0px calc(0.09566 * 100vw - 1.47199px) 0px calc(0.11588 * 100vw - 0.00266px);  /*반응*/
    }
    .footer_left_img {
        width: calc(0.25522 * 100vw - 0.01067px);
    }
    .footer_right {
        padding-top: calc(0.0166 * 100vw + 2.199px);
    }
    .footer_right_contact {
        padding-right: calc(0.0221 * 100vw + 0.01867px);
        padding-top: calc(0.011 * 100vw - 2.533px);
        padding-bottom: calc(0.086277 * 100vw + 0.02867px);
    }
    .footer_right_contact_img {
        width: calc(0.080722 * 100vw + 0.00533px);
        margin-bottom: calc(0.011 * 100vw + 0.467px);
    }
    .instagram {
        width: calc(0.08722 * 100vw + 0.0133px);
    }
    .facebook {
        width: calc(0.0755 * 100vw + 0.01599px);
    }
    .footer_right_bussiness_img {
        width: calc(0.09633 * 100vw + 0.01599px);
    }
}

/* 모바일 버젼 */
@media (max-width: 588px) {
    .navbar {
        display: none;
    }
    .footer_web {
        display: none;
    }
    .footer_mobile {
        display: block;
        background-color: #FFE991;
        width: 360px; /*반응*/
        height: 78px; /*반응*/
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px 0px 41px;  /*반응*/
    }
    .footer_left_img {
        width: 82px; /*반응*/
        height: auto;
    }
    .footer_right {
        padding-top: 12px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
    }
    .footer_right_contact {
        padding-right: 16px; /*반응*/
        padding-bottom: 31px; /*반응*/
    }
    .footer_right_contact_img {
        display: block;
        width: 31px; /*반응*/
        height: auto;
        margin-bottom: 4px; /*반응*/
    }
    .instagram {
        display: block;
        width: 28px; /*반응*/
        height: auto;
    }
    .facebook {
        display: block;
        width: 24px; /*반응*/
        height: auto;
    }
    .footer_right_bussiness_mobile {
        width: 65px; /*반응*/
        height: auto;
    }
    .navbar_mobile {
        display: block;
        width: 360px;
        height: 100%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        position: relative;
        overflow: hidden;
    }
    .menu_black_tab {
        width: 360px;
        margin: 0 auto;
        height: calc(var(--vh, 1vh) * 100);
        background: rgba(0,0,0,0);
        position: fixed;
        z-index: -2;
    }
    .menu_white_tab {
        transform: translateX(200%);
        width: 172px;
        height: calc(var(--vh, 1vh) * 100);
        background-color: #fff;
        position: absolute;
        z-index: -2;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
    }
    .menu_home {
        width: 80px;
        height: auto;
    }
    .menu_intro {
        color: #000;
        font-family: 'pretendard-medium';
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 175%;
        margin-top: 56px;
        padding-left: 25px;
    }
    .menu_ongoing {
        color: #000;
        font-family: 'pretendard-medium';
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 175%;
        margin-top: 17px;
        padding-left: 25px;
    }
    .header_wrap {
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 5;
        transform: translate3d(0,0,0);
        -webkit-transform: translateZ(0);
    }
    .h_menu {
        width: 13px;
        height: auto;
        position: absolute;
        top: 6px;
        right: 16px;
        cursor: pointer;
        z-index: 5;
    }
    .c_menu {
        width: 13px;
        height: auto;
        position: absolute;
        top: 6px;
        right: 16px;
        cursor: pointer;
        z-index: 5;
    }
}
@media (max-width: 360px) {
    .footer_mobile {
        width: 100%; /*반응*/
        height: calc(0.2166249 * 100vw + 0.015px);
        padding: 0px calc(0.05 * 100vw + 2px) 0px calc(0.1138749 * 100vw + 0.005px);  /*반응*/
    }
    .footer_left_img {
        width: calc(0.22225 * 100vw + 1.9899px); /*반응*/
    }
    .footer_right {
        padding-top: calc(0.033375 * 100vw - 0.015px);
    }
    .footer_right_contact {
        padding-right: calc(0.043 * 100vw + 0.52px);
        padding-bottom: calc(0.086125 * 100vw - 0.005px);
    }
    .footer_right_contact_img {
        width: calc(0.0875 * 100vw - 0.499px);
        margin-bottom: calc(0.004125 * 100vw + 2.51499px);
    }
    .instagram {
        width: calc(0.077749 * 100vw + 0.01px);
    }
    .facebook {
        width: calc(0.0652499 * 100vw + 0.51px);
    }
    .footer_right_bussiness_mobile {
        width: calc(0.186125 * 100vw - 2.005px);
    }
    .navbar_mobile {
        width: 100%;
        height: 100%;
    }
    .menu_black_tab {
        width: 100%;
    }
    .menu_white_tab {
        width: calc(0.47775 * 100vw + 0.0099px);
    }
    .menu_home {
        width: calc(0.225 * 100vw - 1px);
        height: auto;
    }
    .menu_intro {
        font-size: calc(0.033375 * 100vw - 0.015px);
        margin-top: 56px; /*수정필요*/
        padding-left: calc(0.069499 * 100vw - 0.019px);
    }
    .menu_ongoing {
        font-size: calc(0.033375 * 100vw - 0.015px);
        margin-top: 17px;/*수정필요*/
        padding-left: calc(0.069499 * 100vw - 0.019px);
    }
    .h_menu {
        width: calc(0.036125 * 100vw - 0.005px);
        top: calc(0.0167499 * 100vw - 0.0299px);
        right: calc(0.044375 * 100vw + 0.02499px);
    }
    .c_menu {
        width: calc(0.036125 * 100vw - 0.005px);
        top: calc(0.0167499 * 100vw - 0.0299px);
        right: calc(0.044375 * 100vw + 0.02499px);
    }
}