.container {
    width: 1920px; /*반응*/
    height: 1030px; /*반응*/
}
.main_text {
    padding-top: 240px;
    margin-left: 910px; /*반응*/
    color: #000;
    font-size: 51px; /*반응*/
    font-family: 'pretendard-extrabold';
    font-style: normal;
    font-weight: 800;
}
.yellow_box {
    background: rgba(255, 204, 0, 0.30);
}
@media (max-width: 1920px) {
    .container {
        width: 100%;
        height: calc(0.53645833 * 100vw); /*반응*/
    }
    .main_text {
        padding-top: calc(0.152778 * 100vw - 85.33px);
        margin-left: calc(0.47395833 * 100vw);
        font-size: calc(0.0265556 * 100vw + 0.0133px);
    }

}