.container {
    display: block;
    width: 1920px;
    min-width: 280px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    /*4331.25로 줄어듬*/
  }
  .bg_intro_pc {
    display: block;
    padding-top: 80px;
    width: 100%;
    height: 7700px;
    z-index: -100;
  }
  .bg_intro_tablet {
    display: none;
  }
  .bg_intro_mobile {
    display: none;
  }

  @media (max-width: 1920px) {
    .container {
      width: 100%;
      height: 100%;
    }
    .bg_intro_pc {
      padding-top: calc(0.04166 * 100vw);
      height: calc(4.0104166 * 100vw - 9.094947px);
    }
  }
  @media (max-width: 1080px) {
    .container {
      width: 768px;
      height: 100%;
    }
    .bg_intro_pc {
      display: none;
    }
    .bg_intro_tablet {
      display: block;
      padding-top: 40px;
      width: 100%;
      height: 3652px;
      z-index: -100;
    }
  }
  @media (max-width: 768px) {
    .container {
      width: 100%;
      height: 100%;
    }
    .bg_intro_tablet {
      padding-top: calc(0.05211 * 100vw - 0.02133px);
      height: calc(4.75522 * 100vw - 0.01067px);
    }
  }

  @media (max-width: 588px) {
    .container {
      display: block;
      width: 360px;
      height: 100%;
    }
    .bg_intro_tablet {
      display: none;
    }
    .bg_intro_mobile {
      display: block;
      width: 100%;
      height: 4333px;
      z-index: -100;
    }
  }

  @media (max-width: 360px) {
    .container {
      width: 100%;
      height: 100%;
    }
    /* 모바일 인트로 반응형 하고 ongoing부붐 모바일 하고 푸터 -> 헤더 모바일 해결하고 테블릿 모바일 main제작하기 */
  }