.container {
    display: block;
    width: 1920px;
    min-width: 280px;
    height: 7700px;
    background-image: url('../../public/bg/bg_intro_pc.png');
    background-size: 1920px 7700px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 80px;
    padding-top: 80px;
    position: relative;
    /*4331.25로 줄어듬*/
  }
  
  @media (max-width: 1920px) {
    .container {
      width: 100%;
      height: calc(4.01041667 * 100vw - 9.09497px);
      background-size: 100% calc(4.01041667 * 100vw - 9.09497px);
      margin-top: calc(0.04167 * 100vw);
      padding-top: calc(0.04167 * 100vw);
    }

  }
  @media (max-width: 1080px) {
    .container {
      display: block;
      width: 768px;
      height: 3106px;
      background-image: url('../../public/bg/bg_intro_tablet.png');
      background-size: 768px 3106px;
      margin: 0 auto;
      overflow: hidden;
      margin-top: 40px;
      padding-top: 40px;
    }
  }

  @media (max-width: 768px) {
    .container {
      width: 100%;
      height: calc(4.044278 * 100vw - 0.00533px);
      background-size: 100% calc(4.044278 * 100vw - 0.00533px);
      margin-top: calc(0.05211 * 100vw - 0.02133px);
      padding-top: calc(0.05211 * 100vw - 0.02133px);
    }
  }

  @media (max-width: 588px) {
    .container {
      display: block;
      width: 360px;
      height: 1476px;
      background-image: url('../../public/bg/bg_intro_mobile.png');
      background-size: 360px 1476px;
      margin: 0 auto;
      overflow: hidden;
      margin-top: 0px;
      padding-top: 0px;
    }
  }

  @media (max-width: 360px) {
    .container {
      width: 100%;
      height: calc(4.044278 * 100vw - 0.00533px);
      background-size: 100% calc(4.044278 * 100vw - 0.00533px);
      margin-top: 0px;
      padding-top: 0px;
    }
  }