.container {
    width: 1920px; /*반응*/
    height: 1080px; /*반응*/
    opacity: 0;
    transform: translateY(70px);
}
.text {
    font-size: 51px;
    font-family: 'Pretendard-extrabold'; /*반응*/
    font-style: normal;
    font-weight: 800;
    text-align: center;
    padding-top: 411px; /*반응 30빼야됨*/
}
.but_text {
    display: none;
}
@media (max-width: 1920px) {
    .container {
        width: 100%;
        height: calc(0.5625 * 100vw); /*반응*/
    }
    .text {
        font-size: calc(0.0265595238 * 100vw + 0.005714px); /*반응*/
        padding-top: calc(0.22969 * 100vw - 30.005714px); /*반응*/
    }
}
@media (max-width: 1080px) {
    .container {
        width: 768px;
        height: 432px; /*반응*/
    }
    .text {
        font-size: 27px; /*반응*/
        padding-top: 150px; /*반응*/
    }
}
@media (max-width: 768px) {
    .container {
        width: 100%;
        height: calc(0.5625 * 100vw); /*반응*/
    }
    .text {
        font-size: calc(0.035156 * 100vw - 0.00799px); /*반응*/
        padding-top: calc(0.280388 * 100vw - 65.33867px); /*반응*/
    }
}
@media (max-width: 588px) {
    .container {
        width: 360px;
        height: 282px; /*반응*/
        margin-top: 205.1px;
    }
    .text {
        display: none;
    }
    .but_text {
        display: block;
        width: 238px;
        height: auto;
        margin: 0 auto;
    }
}
@media (max-width: 360px) {
    .container {
        width: 100%;
        height: calc(0.9195 * 100vw - 49.019px); /*반응*/
        margin-top: calc(0.5447499 * 100vw + 9.0099px);
    }
    .but_text {
        width: calc(0.6625 * 100vw - 0.5px);
    }
}
