.container {
    width: 1920px; /*반응*/
    height: 409px; /*반응*/
    margin-top: 1664px; /*반응 80더함*/
    position: relative;
    z-index: 3;
}
.link_box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 446px; /*반응*/
    padding-left: 30px;
    width: 446px;
    height: 78px;
    border: 3px solid #FFCC00;
    background-color: #FFCC00;
    border-radius: 75px;
}
.top_text {
    color: #000;
    font-size: 33px; /*반응*/
    font-family: 'Pretendard-bold';
    font-style: normal;
    font-weight: 700;
}
.chevron {
    width: 36px; /*반응*/
    height: auto;
    margin-left: 21px; /*반응*/
}
.bot_text_pc {
    display: block;
    color: #000;
    font-size: 24px; /*반응*/
    font-family: 'Pretendard-medium';
    font-style: normal;
    font-weight: 500;
    padding: 20px 0px 0px 462px; /*반응*/
    white-space: pre-line;
}
.bot_text_tablet {
    display: none;
}
.bot_text_mobile {
    display: none;
}

@media (max-width: 1920px) {
    .container {
        width: 100%; /*반응*/
        height: calc(0.2130238095 * 100vw - 0.005714px); /*반응*/
        margin-top: calc(0.825 * 100vw + 80px); /*반응*/
    }
    .link_box {
        margin-left: calc(0.2215714285 * 100vw + 20.5825px);
        padding-left: calc(0.015619 * 100vw + 0.011429px);
        width: calc(0.2322857142 * 100vw + 0.011428px);
        height: calc(0.040619 * 100vw + 0.011428px);
        border: calc(0.0015476 * 100vw + 0.02857px) solid #FFCC00;
        border-radius: calc(0.0390476 * 100vw + 0.02857px);
    }
    .top_text {
        font-size: calc(0.017190 * 100vw - 0.005714px); /*반응*/
    }
    .chevron {
        width: calc(0.01875 * 100vw); /*반응*/
        margin-left: calc(0.0120595238 * 100vw - 2.15428px); /*반응*/
    }
    .bot_text_pc {
        font-size: calc(0.0125 * 100vw); /*반응*/
        padding: calc(0.00773809 * 100vw + 5.142857px) calc(0.24063095 * 100vw - 0.011428px); /*반응*/
    }
}

@media (max-width: 1080px) {
    .container {
        width: 768px; /*반응*/
        height: 294px; /*반응*/
        margin-top: 731px; /*40더함 반응*/
    }
    .link_box {
        margin-left: 140px;
        padding-left: 30px;
        width: 269px;
        height: 52px;
        border: 3px solid #FFCC00;
        border-radius: 36px;
        filter: drop-shadow(1px 1px 1px rgba(176, 132, 0, 0.50));
    }
    .top_text {
        font-size: 18px; /*반응*/
    }
    .chevron {
        width: 19px; /*반응*/
        margin-left: 10px; /*반응*/
    }
    .bot_text_pc {
        display: none;
    }
    .bot_text_tablet {
        display: block;
        color: #000;
        font-size: 15px; /*반응*/
        font-family: 'Pretendard-medium';
        font-style: normal;
        font-weight: 500;
        padding: 20px 0px 0px 140px; /*반응*/
        white-space: pre-line;
    }
}

  @media (max-width: 768px) {
    .container {
        width: 100%; /*반응*/
        height: calc(0.382833 * 100vw - 0.01599px); /*반응*/
        margin-top: calc(0.951833 * 100vw - 0.008px); /*40더함 반응*/
    }
    .link_box {
        margin-left: calc(0.182277 * 100vw + 0.01067px);
        padding-left: calc(0.039055 * 100vw + 0.00533px);
        width: calc(0.350277 * 100vw - 0.0133px);
        height: calc(0.067722 * 100vw - 0.01067px);
        border: calc(0.00388 * 100vw + 0.0133px) solid #FFCC00;
        border-radius: calc(0.04688 * 100vw - 0.01067px);
    }
    .top_text {
        font-size: calc(0.02344 * 100vw - 0.00533px); /*반응*/
    }
    .chevron {
        width: calc(0.024722 * 100vw + 0.0133px); /*반응*/
        margin-left: calc(0.014055 * 100vw - 0.79467px); /*반응*/
    }
    .bot_text_tablet {
        font-size: calc(0.01955 * 100vw - 0.01867px); /*반응*/
        padding: calc(0.026055 * 100vw - 0.01067px) 0px 0px calc(0.182277 * 100vw + 0.01067px); /*반응*/
    }
}

@media (max-width: 580px) {
    .container {
        width: 360px; /*반응*/
        height: 337px; /*반응*/
        margin-top: 998px; /*반응*/
    }
    .link_box {
        margin-left: 21px;
        padding-left: 10px;
        width: 193px;
        height: 38px;
        border: 3px solid #FFCC00;
        border-radius: 36px;
        filter: drop-shadow(1px 1px 1px rgba(176, 132, 0, 0.50));
    }
    .top_text {
        font-size: 15px; /*반응*/
    }
    .chevron {
        width: 13.96px; /*반응*/
        margin-left: 10px; /*반응*/
    }
    .bot_text_tablet {
        display: none;
    }
    .bot_text_mobile {
        display: block;
        color: #000;
        font-size: 15px; /*반응*/
        font-family: 'Pretendard-medium';
        font-style: normal;
        font-weight: 500;
        padding: 20px 0px 0px 31px; /*반응*/
        white-space: pre-line;
    }
 
}
@media (max-width: 360px) {
    .container {
        width: 100%; /*반응*/
        height: calc(0.93612499 * 100vw - 0.00499px); /*반응*/
        margin-top: calc(2.772125 * 100vw + 0.0349px); /*반응*/
    }
    .link_box {
        margin-left: calc(0.058375 * 100vw - 0.015px);
        padding-left: calc(0.0277499 * 100vw + 0.01px);
        width: calc(0.53612499 * 100vw - 0.00499px);
        height: calc(0.1055 * 100vw + 0.0199px);
        border: calc(0.00388 * 100vw + 0.0133px) solid #FFCC00;
        border-radius: calc(0.1 * 100vw);
    }
    .top_text {
        font-size: calc(0.041625 * 100vw + 0.01499px); /*반응*/
    }
    .chevron {
        width: calc(0.038875 * 100vw - 0.035px); /*반응*/
        margin-left: calc(0.03199 * 100vw - 1.5199px); /*반응*/
    }
    .bot_text_mobile {
        font-size: calc(0.041625 * 100vw + 0.01499px); /*반응*/
        padding: calc(0.05562499 * 100vw - 0.02499px) 0px 0px calc(0.058375 * 100vw - 0.015px);
    }
}