.container {
    width: 1920px; /*반응*/
    height: 319px; /*반응*/
    margin-top: 1584px; /*반응*/
    position: relative;
    z-index: 3;
}
.link_box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 53px; /*반응*/
    padding-left: 462px; /*반응*/
}
.top_text {
    color: #000;
    font-size: 33px; /*반응*/
    font-family: 'Pretendard-bold';
    font-style: normal;
    font-weight: 700;
}
.chevron {
    width: 36px; /*반응*/
    height: auto;
    margin-left: 21px; /*반응*/
}
.bot_text {
    color: #000;
    font-size: 24px; /*반응*/
    font-family: 'Pretendard-medium';
    font-style: normal;
    font-weight: 500;
    padding: 21px 462px; /*반응*/
}
.bot_text_mobile {
    display: none;
}

@media (max-width: 1920px) {
    .container {
        width: 100%; /*반응*/
        height: calc(0.16614583 * 100vw); /*반응*/
        margin-top: calc(0.825 * 100vw - 14px); /*반응*/
    }
    .link_box {
        padding-top: calc(0.027611 * 100vw - 0.0133px); /*반응*/
        padding-left: calc(0.240625 * 100vw); /*반응*/
    }
    .top_text {
        font-size: calc(0.0171875 * 100vw); /*반응*/
    }
    .chevron {
        width: calc(0.01875 * 100vw); /*반응*/
        margin-left: calc(0.0114583 * 100vw - 1px); /*반응*/
    }
    .bot_text {
        font-size: calc(0.0125 * 100vw); /*반응*/
        padding: calc(0.0105833 * 100vw + 0.68px) calc(0.240625 * 100vw); /*반응*/
    }
}

@media (max-width: 1200px) {
    .container {
        width: 768px; /*반응*/
        height: 132px; /*반응*/
        margin-top: 661px; /*반응*/
    }
    .link_box {
        padding-top: 0px; /*반응*/
        padding-left: 141px; /*반응*/
    }
    .top_text {
        padding-top: 10px;
        font-size: 21px; /*반응*/
    }
    .chevron {
        width: 19px; /*반응*/
        padding-top: 10px;
        margin-left: 8px; /*반응*/
    }
    .bot_text {
        font-size: 12px; /*반응*/
        padding: 10px 141px; /*반응*/
    }
}

  @media (max-width: 768px) {
    .container {
        width: 100%; /*반응*/
        height: calc(0.1718722 * 100vw - 0.010666px); /*반응*/
        margin-top: calc(0.860667 * 100vw + 0.00799px); /*반응*/
    }
    .link_box {
        padding-left: calc(0.183611 * 100vw - 5.0133px); /*반응*/
    }
    .top_text {
        font-size: calc(0.027344 * 100vw - 0.000533px); /*반응*/
        padding-top: calc(0.01122 * 100vw + 1.38133px);
    }
    .chevron {
        width: calc(0.024778 * 100vw - 0.02933px); /*반응*/
        margin-left: calc(0.01161 * 100vw - 0.91733px); /*반응*/
        padding-top: calc(0.01122 * 100vw + 1.38133px);
    }
    .bot_text {
        font-size: calc(0.015611 * 100vw + 0.01067px); /*반응*/
        padding: calc(0.01122 * 100vw + 1.38133px) calc(0.187833 * 100vw - 8.256px); /*반응*/
    }
}

@media (max-width: 580px) {
    .container {
        width: 360px; /*반응*/
        height: 55px; /*반응*/
        margin-top: 338px; /*반응*/
    }
    .link_box {
        padding-left: 19px; /*반응*/
    }
    .top_text {
        font-size: 12px; /*반응*/
    }
    .chevron {
        width: 14px; /*반응*/
        margin-left: 8px; /*반응*/
    }
    .bot_text {
        display: none;
    }
    .bot_text_mobile {
        display: block;
        width: 319px;
        height: auto;
        padding-left: 19px; /*반응*/
    }
}
@media (max-width: 360px) {
    .container {
        width: 360px; /*반응*/
        height: calc(0.15275 * 100vw + 0.00999px);
        margin-top: calc(0.938875 * 100vw + 0.00499px);
    }
    .link_box {
        padding-left: calc(0.05275 * 100vw + 0.0099px);
    }
    .top_text {
        font-size: calc(0.033375 * 100vw - 0.015px);
    }
    .chevron {
        width: calc(0.0387499 * 100vw + 0.05px);
        margin-left: calc(0.0305 * 100vw - 2.98px);
    }
    .bot_text_mobile {
        width: calc(0.8875 * 100vw - 0.5px);
        padding-left: calc(0.05275 * 100vw + 0.0099px);
    }
}