.container {
    width: 1920px; /*반응*/
    height: 567px; /*반응*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 11509px; /*반응*/
    margin-top: 1303px; /*반응*/
}
.subscribe_box {
    margin-right: 60px; /*반응*/
    position: relative;
    z-index: 3;
}
.input {
    width: 730px; /*반응*/
    height: 77px; /*반응*/
    padding-left: 50px; /*반응*/
    margin-bottom: 40.4px; /*반응*/
    display: block;
    border-radius: 14px; /*반응*/
    border: 3px solid #FDBE01; /*반응*/
    background: #FFF;
    color: #000;
    font-size: 33px; /*반응*/
    font-family: 'Pretendard-medium';
    font-style: normal;
    font-weight: 500;
}
.input::placeholder {color: #BDBDBD;}
.input::-webkit-input-placeholder {color: #BDBDBD;}
.input:-ms-input-placeholder {color: #BDBDBD;}
.agree {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.agree_check {
    width: 30px;/*반응*/
    height: auto;
    cursor: pointer;
}
.agree_text {
    font-size: 33px;/*반응*/
    margin-left: 20px;/*반응*/
    font-family: 'Pretendard-medium';
    font-style: normal;
    font-weight: 500;
}

.button_box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px; /*반응*/
}
.btn {
    width: 309px; /*반응*/
    height: 77px; /*반응*/
    border-radius: 14px; /*반응*/
    border: 3px solid #FFCC00; /*반응*/
    background-color: #FFCC00;
    margin-right: 40px; /*반응*/
    color: #000;
    font-size: 33px; /*반응*/
    font-family: 'Pretendard-bold';
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}
.button_text {
    color: #757575;
    font-size: 24px; /*반응*/
    font-family: 'Pretendard-medium';
    font-style: normal;
    font-weight: 500;
}
.logo_img {
    width: 409px; /*반응*/
    height: auto;
}

.BlackModalContainer {
    width: 1920px;
    height: calc(var(--vh, 1vh) * 100);
    background: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    overflow: hidden;
}
.modalContainer {
    width: 608px;
    height: 324px;
    border-radius: 14px;
    background: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal_top {
    color: #000;
    text-align: center;
    font-family: 'Pretendard-medium';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    padding: 62px 0px 43px 0px;
    margin: 0 auto;
}
.modal_bot {
    border-top: 1px solid black;
    padding-top: 14px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.modal_kakao {
    width: 60px;
    height: auto;
    margin-left: 161px;
    cursor: pointer;
}
.modal_twitter {
    width: 60px;
    height: auto;
    margin-left: 15px;
    cursor: pointer;
}
.modal_facebook {
    width: 60px;
    height: auto;
    margin-left: 15px;
    cursor: pointer;
}
.modal_linkcopy {
    width: 60px;
    height: auto;
    margin-left: 15px;
    cursor: pointer;
}
.modal_close {
    font-size: 24px;
    font-family: 'Pretendard-medium';
    font-style: normal;
    font-weight: 500;
    color: #06f;
    position: absolute;
    top: 50%; 
    right: 20px;
    transform: translate(0, -50%);
    cursor: pointer;
}


@media (max-width: 1920px) {
    .container {
        width: 100%;
        height: calc(0.295238 * 100vw + 0.1428px);
        margin-bottom: calc(5.9942738 * 100vw - 0.005714px);
        margin-top: calc(0.6790119 * 100vw - 0.70285714px);
    }
    .subscribe_box {
        margin-right: calc(0.03125 * 100vw);
    }
    .input {
        width: calc(0.38021428 * 100vw - 0.011428px);
        height: calc(0.0401071 * 100vw - 0.005714px);
        padding-left: calc(0.026035714 * 100vw + 0.011428px);
        margin-bottom: calc(0.021047619 * 100vw - 0.011428px);
        border-radius: calc(0.00738 * 100vw - 0.1714px);
        border: 2px solid #FDBE01;
        font-size: calc(0.017190476 * 100vw - 0.005714px);
    }
    .agree_check {
        width: calc(0.01571428 * 100vw - 0.171428px);
    }
    .agree_text {
        font-size: calc(0.017190476 * 100vw - 0.005714px);
        margin-left: calc(0.0104166 * 100vw);
    }
    .button_box {
        margin-top: calc(0.02090476 * 100vw - 0.1371428px);
    }
    .btn {
        width: calc(0.16094 * 100vw - 0.005714px);
        height: calc(0.040107142 * 100vw - 0.005714px);
        border-radius: calc(0.00738 * 100vw - 0.1714px);
        border: 2px solid #FFCC00; /*반응*/
        margin-right: calc(0.020833 * 100vw);
        font-size: calc(0.017190476 * 100vw - 0.005714px);
    }
    .button_text {
        font-size: calc(0.0125 * 100vw);
    }
    .logo_img {
        width: calc(0.213095238 * 100vw - 0.142857px);
    }
    .BlackModalContainer {
        width: 100%;
    }
    .modalContainer {
        width: calc(0.3167 * 100vw);
        height: calc(0.16875 * 100vw);
        border-radius: calc(0.00738 * 100vw - 0.1714px);
    }
    .modal_top {
        font-size: calc(0.0125 * 100vw);
        padding: calc(0.032297619 * 100vw - 0.011428px) 0px calc(0.0238095238 * 100vw - 2.71428px) 0px;
    }
    .modal_bot {
        border-top: 1px solid black;
        padding-top: calc(0.00738 * 100vw - 0.1714px);
    }
    .modal_kakao {
        width: calc(0.03125 * 100vw);
        margin-left: calc(0.08385714 * 100vw - 0.005714px);
    }
    .modal_twitter {
        width: calc(0.03125 * 100vw);
        margin-left: calc(0.0078095238 * 100vw + 0.005714px);
    }
    .modal_facebook {
        width: calc(0.03125 * 100vw);
        margin-left: calc(0.0078095238 * 100vw + 0.005714px);
    }
    .modal_linkcopy {
        width: calc(0.03125 * 100vw);
        margin-left: calc(0.0078095238 * 100vw + 0.005714px);
    }
    .modal_close {
        font-size: calc(0.0125 * 100vw);
        right: calc(0.0104167 * 100vw);
    }
}
@media (max-width: 1080px) {
    .container {
        width: 768px;
        height: 264px;
        margin-bottom: 5008px;
        margin-top: 613px;
    }
    .subscribe_box {
        margin-right: 29px;
    }
    .input {
        width: 357px;
        height: 36px;
        padding-left: 25px;
        margin-bottom: 20px;
        border-radius: 5px;
        border: 1px solid #FDBE01;
        font-size: 15px;
    }
    .agree {
        margin-bottom: 10px;
    }
    .agree_check {
        width: 14px;
    }
    .agree_text {
        font-size: 15px;/*반응*/
        margin-left: 11px;/*반응*/
    }
    .button_box {
        margin-top: 20px; /*반응*/
    }
    .btn {
        width: 149px; /*반응*/
        height: 52px; /*반응*/
        border-radius: 36px; /*반응*/
        border: 3px solid #FFCC00; /*반응*/
        margin-right: 10px; /*반응*/
        font-size: 18px; /*반응*/
        filter: drop-shadow(1px 1px 1px rgba(176, 132, 0, 0.50));
    }
    .button_text {
        font-size: 13px; /*반응*/
        
    }
    .logo_img {
        width: 200px; /*반응*/
    }
    .BlackModalContainer {
        width: 768px;
    }
    .modalContainer {
        width: 542px;
        height: 238px;
        border-radius: 14px;
    }
    .modal_top {
        font-size: 15px;
        padding: 49px 0px 36px 0px;
    }
    .modal_bot {
        border-top: 1px solid black;
        padding-top: 16px;
    }
    .modal_kakao {
        width: 40px;
        margin-left: 168px;
    }
    .modal_twitter {
        width: 40px;
        margin-left: 15px;
    }
    .modal_facebook {
        width: 40px;
        margin-left: 15px;
    }
    .modal_linkcopy {
        width: 40px;
        margin-left: 15px;
    }
    .modal_close {
        font-size: 15px;
        right: 21px;
    }
    
}
@media (max-width: 768px) {
    .container {
        width: 100%;
        height: calc(0.344 * 100vw - 0.02133px);
        margin-bottom: calc(6.520833 * 100vw);
        margin-top: calc(0.798166 * 100vw + 0.00799px);
    }
    .subscribe_box {
        margin-right: calc(0.0378 * 100vw - 0.0133px);
    }
    .input {
        width: calc(0.464833 * 100vw + 0.00799px);
        height: calc(0.0444 * 100vw + 1.867px);
        padding-left: calc(0.03255 * 100vw - 0.00267px);
        margin-bottom: calc(0.026056 * 100vw - 0.01067px);
        border-radius: calc(0.0065 * 100vw - 0.008px);
        border: 1px solid #FDBE01;
        font-size: calc(0.01955 * 100vw - 0.0186px);
    }
    .agree {
        margin-bottom: calc(0.01422 * 100vw - 0.92267px);
    }
    .agree_check {
        width: calc(0.01733 * 100vw + 0.688px);
    }
    .agree_text {
        font-size: calc(0.01955 * 100vw - 0.0186px);
        margin-left: calc(0.01522 * 100vw - 0.69067px);
    }
    .button_box {
        margin-top: calc(0.0277 * 100vw - 1.33px);
    }
    .btn {
        width: calc(0.194 * 100vw + 0.00799px);
        height: calc(0.067722 * 100vw - 0.01067px);
        border-radius: calc(0.04689 * 100vw - 0.01067px);
        border: 1px solid #FFCC00; /*반응*/
        margin-right: calc(0.013 * 100vw + 0.016px);
        font-size: calc(0.02344 * 100vw - 0.00533px);
    }
    .button_text {
        font-size: calc(0.0166 * 100vw + 0.199px);
    }
    .logo_img {
        width: calc(0.258833 * 100vw + 1.21599px);
    }
    .BlackModalContainer {
        width: 100%;
    }
    .modalContainer {
        width: calc(0.7055 * 100vw + 0.00533px);
        height: calc(0.311 * 100vw - 0.00533px);
        border-radius: calc(0.01833 * 100vw - 0.08px);
    }
    .modal_top {
        font-size: calc(0.019533 * 100vw - 0.01866px);
        padding: calc(0.063778 * 100vw + 0.01867px) 0px calc(0.0484 * 100vw - 1.20533px) 0px;
    }
    .modal_bot {
        border-top: calc(0.00051389 * 100vw + 0.005714px) solid black;
        padding-top: calc(0.02083 * 100vw);
    }
    .modal_kakao {
        width: calc(0.05211 * 100vw - 0.02133px); 
        margin-left: calc(0.21872 * 100vw + 0.02133px);
    }
    .modal_twitter {
        width: calc(0.05211 * 100vw - 0.02133px); 
        margin-left: calc(0.019556 * 100vw - 0.01867px);
    }
    .modal_facebook {
        width: calc(0.05211 * 100vw - 0.02133px); 
        margin-left: calc(0.019556 * 100vw - 0.01867px);
    }
    .modal_linkcopy {
        width: calc(0.05211 * 100vw - 0.02133px); 
        margin-left: calc(0.019556 * 100vw - 0.01867px);
    }
    .modal_close {
        font-size: calc(0.019533 * 100vw - 0.01866px);
        right: calc(0.0277 * 100vw - 0.333px);
    }
}
@media (max-width: 588px) {
    .container {
        width: 360px;
        height: 189px;
        margin-bottom: 5125px;
        margin-top: 751px;
    }
    .subscribe_box {
        margin: 0 auto;
    }
    .input {
        width: 300px;
        height: 29px;
        padding-left: 22px;
        margin-bottom: 12px;
        border-radius: 5px;
        border: 1px solid #FDBE01;
        font-size: 12px;
    }
    .agree {
        margin-bottom: 7px;
    }
    .agree_check {
        width: 12px;
    }
    .agree_text {
        font-size: 12px;/*반응*/
        margin-left: 10px;/*반응*/
    }
    .button_box {
        margin-top: 20px; /*반응*/
    }
    .btn {
        width: 128px; /*반응*/
        height: 38px; /*반응*/
        border-radius: 36px; /*반응*/
        border: 3px solid #FFCC00; /*반응*/
        margin-right: 10px; /*반응*/
        font-size: 13.5px; /*반응*/
        filter: drop-shadow(1px 1px 1px rgba(176, 132, 0, 0.50));
    }
    .button_text {
        font-size: 12px; /*반응*/
    }
    .logo_img {
        display: none;
    }
    .BlackModalContainer {
        width: 360px;
    }
    .modalContainer {
        width: 313px;
        height: 142px;
        border-radius: 8px;
    }
    .modal_top {
        font-size: 15px;
        padding: 10px 0px;
    }
    .modal_bot {
        border-top: 1px solid black;
        padding-top: 8.94px;
    }
    .modal_kakao {
        width: 25px;
        margin-left: 91.03px;
    }
    .modal_twitter {
        width: 25px;
        margin-left: 12.53px;
    }
    .modal_facebook {
        width: 25px;
        margin-left: 12.53px;
    }
    .modal_linkcopy {
        width: 25px;
        margin-left: 12.53px;
    }
    .modal_close {
        font-size: 15px;
        right: 33px;
    }
}
@media (max-width: 360px) {
    .container {
        width: 100%;
        height: calc(0.525 * 100vw);
        margin-bottom: calc(14.2361249 * 100vw - 0.00499px);
        margin-top: calc(2.086 * 100vw + 0.04px);
    }
    .input {
        width: calc(0.83337499 * 100vw - 0.01499px);
        height: calc(0.0805 * 100vw + 0.0199px);
        padding-left: calc(0.061125 * 100vw - 0.005px);
        margin-bottom: calc(0.061125 * 100vw + 0.0299px);
        border-radius: calc(0.01387499 * 100vw + 0.005px);
        border: 1px solid #FDBE01;
        font-size: calc(0.0375 * 100vw);
    }
    .agree {
        margin-bottom: calc(0.030625 * 100vw - 4.025px);
    }
    .agree_check {
        width: calc(0.033375 * 100vw - 0.015px);
    }
    .agree_text {
        font-size: calc(0.033375 * 100vw - 0.015px);
        margin-left: calc(0.0277499 * 100vw + 0.01px);/*반응*/
    }
    .button_box {
        margin-top: calc(0.056875 * 100vw - 0.475px); /*반응*/
    }
    .btn {
        width: calc(0.3555 * 100vw + 0.02px); /*반응*/
        height: calc(0.1055 * 100vw + 0.0199px); /*반응*/
        border-radius: calc(0.1 * 100vw); /*반응*/
        border: calc(0.0125 * 100vw - 1.5px) solid #FFCC00; /*반응*/
        margin-right: calc(0.0277499 * 100vw + 0.01px); /*반응*/
        font-size: calc(0.0385 * 100vw + 0.14px); /*반응*/
    }
    .button_text {
        font-size: calc(0.033375 * 100vw - 0.015px);
    }
    .BlackModalContainer {
        width: 100%;
    }
    .modalContainer {
        width: calc(0.87775 * 100vw - 2.99px);
        height: calc(0.3945 * 100vw - 0.02px);
        border-radius: calc(0.02225 * 100vw - 0.01px);
    }
    .modal_top {
        font-size: calc(0.041625 * 100vw + 0.01499px); /*반응*/
        padding: calc(0.025 * 100vw + 1px) 0px;
    }
    .modal_bot {
        border-top: 1px solid black;
        padding-top: calc(0.02487499 * 100vw - 0.01499px);
    }
    .modal_kakao {
        width: calc(0.069499 * 100vw - 0.0199px);
        margin-left: calc(0.252875 * 100vw - 0.005px);
    }
    .modal_twitter {
        width: calc(0.069499 * 100vw - 0.0199px);
        margin-left: calc(0.03474999 * 100vw + 0.02px);
    }
    .modal_facebook {
        width: calc(0.069499 * 100vw - 0.0199px);
        margin-left: calc(0.03474999 * 100vw + 0.02px);
    }
    .modal_linkcopy {
        width: calc(0.069499 * 100vw - 0.0199px);
        margin-left: calc(0.03474999 * 100vw + 0.02px);
    }
    .modal_close {
        font-size: calc(0.041625 * 100vw + 0.01499px); /*반응*/
        right: calc(0.10137499 * 100vw - 3.49499px);
    }
}