.container {
    width: 1920px; /*반응*/
    height: 567px; /*반응*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 140px; /*반응*/
    margin-top: 76px; /*반응*/
}
.subscribe_box {
    margin-right: 60px; /*반응*/
}
.input {
    width: 730px; /*반응*/
    height: 77px; /*반응*/
    padding-left: 50px; /*반응*/
    margin-bottom: 20px; /*반응*/
    display: block;
    border-radius: 14px; /*반응*/
    border: 3px solid #FDBE01; /*반응*/
    background: #FFF;
    color: #BDBDBD;
    font-size: 33px; /*반응*/
    font-family: 'Pretendard-medium';
    font-style: normal;
    font-weight: 500;
}
.agree {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.agree_check {
    width: 30px;/*반응*/
    height: 30px;/*반응*/
}
.agree_text {
    color: #424242;
    font-size: 33px;/*반응*/
    margin-left: 20px;/*반응*/
    font-family: 'Pretendard-medium';
    font-style: normal;
    font-weight: 500;
}

.button_box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 43px; /*반응*/
}
.btn {
    width: 309px; /*반응*/
    height: 77px; /*반응*/
    border-radius: 14px; /*반응*/
    border: 3px solid #FFCC00; /*반응*/
    background-color: #FFCC00;
    margin-right: 30px; /*반응*/
    color: #FFF;
    font-size: 33px; /*반응*/
    font-family: 'pretendard-bold';
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.button_text {
    color: #757575;
    font-size: 24px; /*반응*/
    font-family: 'pretendard-medium';
    font-style: normal;
    font-weight: 500;
}
.logo_img {
    width: 409px; /*반응*/
    height: auto;
}
@media (max-width: 1920px) {
    .container {
        width: 100%;
        height: calc(0.297222 * 100vw - 3.6667px);
        margin-bottom: calc(0.0729166 * 100vw);
        margin-top: calc(0.0395833 * 100vw);
    }
    .subscribe_box {
        margin-right: calc(0.030902778 * 100vw + 0.66667px);
    }
    .input {
        width: calc(0.38020833 * 100vw);
        height: calc(0.0401041667 * 100vw);
        padding-left: calc(0.0260416667 * 100vw);
        margin-bottom: calc(0.010416667 * 100vw);
        border-radius: calc(0.0072916667 * 100vw);
        border: calc(0.0015625 * 100vw) solid #FDBE01;
        font-size: calc(0.0171875 * 100vw);
    }
    .agree_check {
        width: calc(0.01583333 * 100vw - 0.3999px);
        height: calc(0.01583333 * 100vw - 0.3999px);
    }
    .agree_text {
        color: #424242;
        font-size: calc(0.0171875 * 100vw);
        margin-left: calc(0.010416666666666666 * 100vw);
    }
    .button_box {
        margin-top: calc(0.023263889 * 100vw - 1.66667px);
    }
    .btn {
        width: calc(0.16111 * 100vw - 0.333px);
        height: calc(0.0401111 * 100vw - 0.01333px);
        border-radius: calc(0.0072916667 * 100vw);
        border: calc(0.0015556 * 100vw - 0.01333px) solid #FFCC00; /*반응*/
        margin-right: calc(0.006778 * 100vw + 16.98667px);
        font-size: calc(0.017180556 * 100vw + 0.0133px);
    }
    .button_text {
        font-size: calc(0.0125 * 100vw);
    }
    .logo_img {
        width: calc(0.213020833 * 100vw);
    }
}