.container {
    display: block;
    width: 1920px;
    min-width: 280px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }
  .bg1_pc {    
    display: block;
    position: absolute;
    top: 80px;
    width: 100%;
    height: 2659.8px;
    z-index: -100;
  }
  .bg2_pc {
    display: block;
    position: absolute;
    top: 2739.8px;
    width: 100%;
    height: 2659.8px;
    z-index: -100;
  }
  .bg3_pc {
    display: block;
    position: absolute;
    top: 5399.6px;
    width: 100%;
    height: 2659.8px;
    z-index: -100;
  }
  .bg4_pc {
    display: block;
    position: absolute;
    top: 8059.4px;
    width: 100%;
    height: 2659.8px;
    z-index: -100;
  }
  .bg5_pc {
    display: block;
    position: absolute;
    top: 10719.2px;
    width: 100%;
    height: 2086px;
    z-index: -100;
  }

  .bg_ongoing_tablet {
    display: none;
  }
  .bg_ongoing_mobile {
    display: none;
  }
  @media (max-width: 1920px) {
    .container {
      width: 100%;
      height: 100%;
    }
    .bg1_pc {    
      top: calc(0.04166 * 100vw);
      height: calc(1.3853095238 * 100vw + 0.005714px);
    }
    .bg2_pc {
      top: calc(1.42697619 * 100vw + 0.005714px);
      height: calc(1.3853095238 * 100vw + 0.005714px);
    }
    .bg3_pc {
      top: calc(2.812285714 * 100vw + 0.011428px);
      height: calc(1.3853095238 * 100vw + 0.005714px);
    }
    .bg4_pc {
      top: calc(4.197595238 * 100vw + 0.0171428px);
      height: calc(1.3853095238 * 100vw + 0.005714px);
    }
    .bg5_pc {
      top: calc(5.5829 * 100vw + 0.022857px);
      height: calc(1.08645238 * 100vw + 0.011428px);
    }
  }

  @media (max-width: 1080px) {
    .container {
      width: 768px;
      height: 100%;
    }
    .bg_ongoing_pc {
      display: none;
    }
    .bg_ongoing_tablet {
      display: block;
      position: absolute;
      top: 40px;
      width: 100%;
      height: 5845px;
      z-index: -100;
    }
  }
  @media (max-width: 768px) {
    .container {
      width: 100%;
      height: 100%;
    }
    .bg_ongoing_tablet {
      top: calc(0.05211 * 100vw - 0.02133px);
      height: calc(7.61066 * 100vw + 0.00799px);
    }
  }

  @media (max-width: 588px) {
    .container {
      width: 360px;
      height: 100%;
    }
    .bg_ongoing_tablet {
      display: none;
    }
    .bg_ongoing_mobile {
      display: block;
      position: absolute;
      top: 0px;
      width: 100%;
      height: 6065px;
      z-index: -100;
    }
  }

  @media (max-width: 360px) {
    .container {
      width: 100%;
      height: 100%;
    }
    .bg_ongoing_mobile {
      height: calc(16.847125 * 100vw + 0.03499px);
    }
  }