.container {
    display: block;
    width: 1920px;
    min-width: 280px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }
  .bg_ongoing_pc {
    display: block;
    position: absolute;
    top: 80px;
    width: 100%;
    height: 13299px;
    z-index: -100;
  }
  .bg_ongoing_tablet {
    display: none;
  }
  @media (max-width: 1920px) {
    .container {
      width: 100%;
      height: 100%;
    }
    .bg_ongoing_pc {
      top: calc(0.04166 * 100vw);
      height: calc(6.9265595238 * 100vw + 0.005714px);
    }
  }

  @media (max-width: 1080px) {
    .container {
      width: 768px;
      height: 100%;
      margin: 0 auto;
      overflow: hidden;
      position: relative;
    }
    .bg_ongoing_pc {
      display: none;
    }
    .bg_ongoing_tablet {
      display: block;
      position: absolute;
      top: 40px;
      width: 100%;
      height: 5845px;
      z-index: -100;
    }
  }
  @media (max-width: 768px) {
    .container {
      width: 100%;
      height: 100%;
    }
    .bg_ongoing_tablet {
      top: calc(0.05211 * 100vw - 0.02133px);
      height: calc(7.61066 * 100vw + 0.00799px);
    }
  }

  @media (max-width: 588px) {
    .container {
      display: block;
      width: 360px;
      height: 1702px;
      background-image: url('../../public/bg/bg_ongoing_mobile.png');
      background-size: 360px 1702px;
      margin: 0 auto;
      overflow: hidden;
      margin-top: 0px;
    }
  }

  @media (max-width: 360px) {
    .container {
      width: 100%;
      height: calc(4.1443749 * 100vw + 210.025px);
      background-size: 100% calc(4.1443749 * 100vw + 210.025px);
      margin-top: 0px;
    }
  }