.container {
    display: block;
    width: 1920px;
    height: 100%;
    min-width: 280px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }
  .bg_main_pc {
    display: block;
    position: absolute;
    top: 80px;
    width: 100%;
    height: 10164px;
    z-index: -100;
  }
  .bg_main_tablet {
    display: none;
  }
  .bg_main_mobile {
    display: none;
  }
  @media (max-width: 1920px) {
    .container {
      width: 100%;
      height: 100%;
    }
    .bg_main_pc {
      top: calc(0.04166 * 100vw);
      height: calc(5.29375 * 100vw);
    }
  }

  @media (max-width: 1080px) {
    .container {
      width: 768px;
      height: 100%;
    }
    .bg_main_pc {
      display: none;
    }
    .bg_main_tablet {
      display: block;
      position: absolute;
      top: 40px;
      width: 100%;
      height: 5686px;
      z-index: -100;
    }
  }

  @media (max-width: 768px) {
    .container {
      width: 100%;
      height: 100%;
    }
    .bg_main_tablet {
      top: calc(0.05211 * 100vw - 0.02133px);
      height: calc(7.40366 * 100vw - 0.01599px);
    }
  }
  @media (max-width: 588px) {
    .container {
      width: 360px;
      height: 100%;
    }
    .bg_main_tablet {
      display: none;
    }
    .bg_main_mobile {
      display: block;
      position: absolute;
      top: 0px;
      width: 100%;
      height: 6138px;
      z-index: -100;
    }
  }

  @media (max-width: 360px) {
    .container {
      width: 100%;
      height: 100%;
    }
    .bg_main_mobile {
      height: calc(17.05 * 100vw);
    }
  }