.container {
    width: 1920px; /*반응*/
    height: 594px; /*반응*/
}
.interativeBox {
    opacity: 0;
    transform: translateY(70px);
}
.q_text {
    text-align: center;
    font-size: 42px; /*반응*/
    font-family: 'Pretendard-extrabold';
    font-style: normal;
    font-weight: 800;
    margin: 1364px auto; /*반응*/
    margin-bottom: 0; /*반응*/
}
.curious_text {
    display: none;
}
.a_text {
    text-align: center;
    font-size: 33px; /*반응*/
    font-family: 'Pretendard-medium';
    font-style: normal;
    font-weight: 500;
    margin: 38px auto; /*반응*/
    margin-bottom: 0px; /*반응*/
}
.a_text_small {
    display: none;
}
@media (max-width: 1920px) {
    .container {
        width: 100%;
        height: calc(0.30803571 * 100vw + 2.5714px); /*반응*/
        
    }
    .q_text {
        font-size: calc(0.02188 * 100vw - 0.011428px);
        margin: calc(0.7104166 * 100vw) auto; /*반응*/
        margin-bottom: 0px;
    }
    .a_text {
        font-size: calc(0.01719 * 100vw - 0.005714px);
        margin: calc(0.0183095 * 100vw + 2.8457px) auto;
        margin-bottom: 0px;
    }
}
@media (max-width: 1080px) {
    .container {
        width: 768px;
        height: 432px;
        margin-top: 432px; /*60줄음*/
    }
    .q_text {
        display: none;
    }
    .curious_text {
        display: block;
        width: 305px;
        height: auto;
        margin: 0 auto;
    }
    .a_text {
        display: none;
    }
    .a_text_small {
        display: block;
        text-align: center;
        font-family: 'Pretendard-medium';
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        margin-top: 40px;
    }
}
@media (max-width: 768px) {
    .container {
        width: 100%;
        height: calc(0.5625 * 100vw);
        margin-top: calc(0.56833 * 100vw - 124.48px); /*60줄음*/
    }
    .curious_text {
        width: calc(0.4 * 100vw - 2.2px);
    }
    .a_text_small {
        font-size: calc(0.01955 * 100vw - 0.01867px);
        margin-top: calc(0.05244 * 100vw - 0.27733px);
    }
}
@media (max-width: 588px) {
    .container {
        width: 360px;
        height: 525px;
        margin-top: 60px;
    }
    .curious_text {
        width: 305px;
        margin-top: 322px; /*80뺌*/
    }
    .a_text_small {
        font-size: 15px;
        margin-top: 40px;
    }
}
@media (max-width: 360px) {
    .container {
        width: 100%;
        height: calc(2.2359 * 100vw - 279.9599px);
        margin-top: calc(0.16662499 * 100vw + 0.015px);
    }
    .curious_text {
        width: calc(0.85 * 100vw - 1px);
        margin-top: calc(1.11675 * 100vw - 60.03px); /*80뺌*/
    }
    .a_text_small {
        font-size: calc(0.041625 * 100vw + 0.0149px);
        margin-top: calc(0.13325 * 100vw - 7.97px);
    }
}